[user]
	name = Douglas Lobo
	email = douglascnlobo@icloud.com
[init]
	defaultbranch = main
[color]
	ui = auto
[merge]
	tool = nvimdiff
[core]
	bare = false
	filemode = true
	logallrefsupdates = true
	autocrlf = input
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	l = log --oneline --graph --decorate
	b = branch
	ba = branch -a
    wt = worktree
    sw = switch
    co = checkout
	ci = commit
    amend = commit --all --amend --no-edit
    st = status -s
	pr = pull --rebase
	m = merge
	sta = status
	rh = reset HEAD
	aa = add --all
    release = tag -a "$1" -m "release $2"
