[user]
	name = Douglas Lobo
	email = douglascnlobo@icloud.com
[init]
	defaultbranch = main
[color]
	ui = auto
[merge]
	tool = nvimdiff
[core]
	bare = false
	filemode = true
	logallrefsupdates = true
	autocrlf = input
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	l = log --oneline --graph --decorate
  p = push
	b = branch
  w = worktree
  s = switch
  c = commit
  a = add
  co = checkout
  d = diff
  st = status
  sts = status -s
