Electron/
Kvantum/
Thunar/
audacious/
autostart/
balenaEtcher/
catfish/
composer/
dconf/
discord/
falkon/
gtk-2.0/
gtk-3.0/
gtk-4.0/
manjaro/
micro/
mise/
pamac/
pulse/
qt5ct/
retroarch/
torbrowser/
transmission/
vlc/
volumeicon/
xfce4-dict/
xfce4/
.luarc.json
QtProject.conf
github-stoapoikile
github-stoapoikile.pub
manjaro-hello.json
mimeapps.list
mise.toml
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
lazy-lock.json
wireguard/
wireshark/
psysh/
lazyvim/
.DS_Store
StardewValley/
