Electron/
Kvantum/
Thunar/
audacious/
autostart/
balenaEtcher/
catfish/
composer/
dconf/
discord/
falkon/
gtk-2.0/
gtk-3.0/
gtk-4.0/
manjaro/
micro/
mise/
pamac/
pulse/
qt5ct/
retroarch/
torbrowser/
transmission/
vlc/
volumeicon/
xfce4-dict/
xfce4/
.luarc.json
QtProject.conf
github-stoapoikile
github-stoapoikile.pub
manjaro-hello.json
mimeapps.list
mise.toml
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
lazy-lock.json
wireguard/
wireshark/
psysh/
lazyvim/
.DS_Store
StardewValley/
ghostty/ghostty-shaders/
lazyvim
m0tay/
m0tay2/
neofetch/
github-copilot/
containers/
micro/\psysh/
wireguard/
wireshark/
zellij/
linearmouse/
htop
btop/
containers/
StardewValley/
simple-update-notifier/
psysh/
raycast/
shell/
github-copilot/
newsboat/
gh/
filezilla/
iterm2/
helix/
latexmk/
.DS_Store
zed/prompts/*
zed/settings_backup.json
zed/config_bak
kanata/
karabiner/
zsh/.zcompdump
zsh/.zcompcache/
zsh/.zsh_sessions/

.android/
swiftpm
tool_state
vim/undodir/
vim/.netrwhistory
