startup_commands fit_to_page_height

page_separator_width 4

page_separator_color 0.1 0.1 0.1

background_color 0.1 0.1 0.1

text_highlight_color 1.0 1.0 0.0

search_url_g  https://www.google.com/search?q=
search_url_i	https://www.infopedia.pt/dicionarios/lingua-portuguesa/
search_url_t	https://www.thesaurus.com/browse/
